<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h1>Information</h1>

        <div>
        
            <ul>
                <li>
                    <%= data.argumentosEntrada %>
                </li>
                
                <li>
                    <%= data.carpetaProyecto %>
                </li>
    
                <li>
                    <%= data.sistemaOperativo %>
                </li>
    
                <li>
                    <%= data.versionNode %>
                </li>
    
                <li>
                    <%= data.processId %>
                </li>
    
                <li>
                    <%= data.pathDeEjecucion %>
                </li>

                <li>
                    Numero de procesadores <%= numCPUs %>
                </li>

            </ul>

        </div>

    </header>

</body>
</html>